/* General */

:root {
    --main-bg-color: #05D3FD;
    --footer-bg-color: #4D4D4D;
    --border-color: #f3f3f3;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rokkitt', serif;
    font-weight: 600;
    line-height: 1.1;
}

h1 {
    font-size: 50px;
}
